{% extends 'base.html' %} 
{% block title %}Home Page - TodoApp{% endblock %}
{% block body %}
<div class="container">
  <h1>Todo List</h1>

  <div class="input-box">
    <input type="text" placeholder="Add a new task..." />
    <button>Add</button>
  </div>

  <ul>
    <li>
      <div class="task">
        <input type="checkbox" id="t1" />
        <label for="t1">Complete project</label>
      </div>
      <span class="delete">❌</span>
    </li>

    <li>
      <div class="task">
        <input type="checkbox" id="t2" />
        <label for="t2">Go to gym</label>
      </div>
      <span class="delete">❌</span>
    </li>

    <li>
      <div class="task">
        <input type="checkbox" id="t3" />
        <label for="t3">Read a book</label>
      </div>
      <span class="delete">❌</span>
    </li>
  </ul>

  <div class="footer">Frontend UI Design</div>
</div>
{% endblock %}