{% extends 'base.html' %} 
{% block title %}Home Page - TodoApp{% endblock %} 
{% block body %}
<div class="container">
  <h1>Todo List</h1>

    <form action="{% url 'add-task' %}" class="input-box" method="get">
      <input type="text" name="task" placeholder="Add a new task..." />
      <button type="submit">Add</button>
    </form>

  <ul>
    {% for item in listItems %}
    <li>
      <div class="task">
        <label for="{{item.id}}">{{item.title}}</label>
      </div>
      <a class="delete" href="{% url 'delete-task' item.id %}">❌</a>
    </li>
    {% endfor %} 
  </ul>
</div>
{% endblock %}
